<a href="https://colab.research.google.com/github/PurvanshBarodia/Data_Science_Master/blob/main/04Feb_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [14]:
lis = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

lis.sort(key=lambda x : x[1])
print(lis)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

In [15]:
lis1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda x: x**2,lis1)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [17]:
lis1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(tuple(map(lambda x:str(x),lis1)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [23]:
from functools import reduce
lis2 = [i for i in range(1,26)]
print(reduce(lambda x,y:x*y,lis2))

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [25]:
lis3 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(list(filter(lambda x: x%2==0 or x%3==0,lis3)))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

In [28]:
lis4 = ['python', 'php', 'aba', 'radar', 'level']
print(list(filter(lambda x: x==x[::-1],lis4)))

['php', 'aba', 'radar', 'level']