<a href="https://colab.research.google.com/github/PurvanshBarodia/Data_Science_Master/blob/main/16_Feb_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

DataBase: Database is collection of data, which helps to store and organize the data.

SQL : Structured Query Language is useful to handle structured data (tabular)

NoSQL : Works with semi-structured or unstructured data. (audio,video,text)

###Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL referes to data definition language it helps to define structure of table.

**Create:**

create table table_name();

**Drop:**

(drop the entire table including it's structure)
drop table table_name ;

**Alter:**

alter table table_name();

**Truncate:**

Remove all the records from table but keep the structure.

###Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML referes to Data Manipulation Language

**Insert:**

to insert values into table
insert into table_name values() ;

**Update:**

update based on condition
update table_name set column1= value1 where condition ;

**Delete:**

Delete rows based on condition

delete from table_name where condition;

###Q4. What is DQL? Explain SELECT with an example.

DQL referes to Data Query Language.

**Select:**

Helps to query the table

select * from table_name;

select c1,c2 from table_name;

select c1,c2 from table_name where c1==c2 ;

###Q5. Explain Primary Key and Foreign Key.

**Primary key :** 

A not null key that identify each row of table uniquely.

**Foreign key :** 

A primary key of another table which is referred into a table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

# Create cursor to execute database statements
mycursor = mydb.cursor()

# execute helps to execute database statements
mycursor.execute("CREATE DATABASE if not exists test1")
mydb.close()

###Q7. Give the order of execution of SQL clauses in an SQL query.

Order of Execution in SQL:

* SELECT
* FROM
* WHERE
* GROUP BY
* HAVING
* ORDER
* LIMIT