<a href="https://colab.research.google.com/github/PurvanshBarodia/Data_Science_Master/blob/main/22_Feb_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

s1 = pd.Series([4,8,15,16,23,42])
print(s1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2. Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

lis = [i for i in range(0,20,2)]
s2 = pd.Series(lis)
print(s2)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [6]:
# Q3. Create a Pandas DataFrame that contains the following data:
data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# DataFrame is 2-D where Series is 1-D
# Series have homogeneous data (one datatype for whole column), 
# DataFrame have hetrogeneous data (combination of Series having different datatypes)

# Series of int datatype
s1 = pd.Series([4,8,15,16,23,42])
print(s1.dtypes)

print("------------------")

# DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df.dtypes)

int64
------------------
Name      object
Age        int64
Gender    object
dtype: object

In [13]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
 # you give an example of when you might use one of these functions?

# 'head()' and 'tail()'
print('head()')
print(df.head()) # first 5 rows
print('-------------------------------------------')
print('tail()')
print(df.tail()) # last 5 rows.
print('-------------------------------------------')

# 'describe()'
print('describe()')
print(df.describe()) # summary statistics for numeric values
print('-------------------------------------------')

# 'sort_values()'
print('sort_values()')
print(df.sort_values(by='Age')) # sort the dataframe based on column values

head()
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
-------------------------------------------
tail()
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
-------------------------------------------
describe()
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000
-------------------------------------------
sort_values()
     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

In [10]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# DataFrame and Panel are mutable

In [11]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

name_s = pd.Series(['Alice', 'Bob', 'Claire'],name='Name')
age_s = pd.Series([25,30,27], name='Age')
gender_s = pd.Series(['Female','Male','Female'], name='Gender')

# concate three series using pandas.concat()
df = pd.concat([name_s,age_s,gender_s], axis=1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female