<a href="https://colab.research.google.com/github/PurvanshBarodia/Data_Science_Master/blob/main/25Feb_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
df.iloc[1:2,:]  # second row will be at index 1

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc function:
we need to give lables(index for rows and column names) to select desired rows and columns


iloc function:
works with index. Python by default give index to row and columns.we need to give index number for the rows and columns we want to select.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [8]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
new_df = df1.reindex([3,0,1,2])

In [10]:
print(df1.iloc[2])
print(new_df.iloc[2])
# iloc considers internal indexing given by python

column_1    0.562668
column_2    0.466947
column_3    0.987249
column_4    0.281344
column_5    0.237526
column_6    0.188880
Name: 3, dtype: float64
column_1    0.597525
column_2    0.408572
column_3    0.131151
column_4    0.241154
column_5    0.158743
column_6    0.948747
Name: 1, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [15]:
df1.mean()

column_1    0.409535
column_2    0.376347
column_3    0.551424
column_4    0.530681
column_5    0.533664
column_6    0.524814
dtype: float64

In [17]:
df1['column_2'].std()

0.25322190419517143

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

In [22]:
df1.loc[:,'column_2'] = ["This is Str"for i in range((df1.shape[0]))]

In [23]:
df1['column_2'].mean() # we can not find mean for string values

TypeError: ignored

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

window function is a way to perform calculations over a rolling window of data in a DataFrame or Series. A window function allows you to apply a function to a rolling window of data, where the window can either be fixed in size or expand as you move along the data. 

Types of Windos functions:
1. Rolling Window Functions
2. Expanding Window Functions
3. Exponentially Weighted Window Functions
4. Aggregation Functions

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [33]:
print(pd.Timestamp.now().month,"-",pd.Timestamp.now().year)

2 - 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [39]:
def time_diff():
  d1 = input("Enter First Date: ")
  d2 = input("Enter Second Date: ")

  d1 = pd.Timestamp(d1)
  d2 = pd.Timestamp(d2)

  timediff = d2 - d1

  return("Days",timediff.days,"Hours",timediff.days*24,"Minutes",timediff.days*24*60)

In [40]:
time_diff()

Enter First Date: 2022-01-01
Enter Second Date: 2022-02-02

('Days', 32, 'Hours', 768, 'Minutes', 46080)

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
def csv_func():
  path = input("Enter the file path: ")
  columns = input("Enter column name by seprating by comma : ").split(',')

  import pandas as pd
  df = pd.read_csv(path)
  for column in columns:
    df[column] = pd.Categorical(df[column])

    # return sorted_values but sort it using which column???

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path = input("Enter the path to the CSV file: ")
sales_df = pd.read_csv(file_path)

sales_df["Date"] = pd.to_datetime(sales_df["Date"])
grouped_df = sales_df.groupby(["Category", "Date"]).sum().reset_index()
pivoted_df = grouped_df.pivot(index="Date", columns="Category", values="Sales")
pivoted_df.plot(kind="bar", stacked=True)

plt.title("Sales by Product Category Over Time")
plt.xlabel("Date")
plt.ylabel("Sales")

plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [42]:
test_data = pd.DataFrame({"Student_ID":[i for i in range(1,11)],
                          "Test_Score":[85,90,80,75,85,82,78,85,90,85]})
test_data.to_csv('test.csv',index=None)

In [44]:
df = pd.read_csv("test.csv")
print("Mean",df['Test_Score'].mean())
print("Median",df['Test_Score'].median())
print("Mode",df['Test_Score'].mode())

Mean 83.5
Median 85.0
Mode 0    85
dtype: int64